<div id="presentation">
  <h1><i class="fa fa-heart" aria-hidden="true"></i> Presentation</h1>
  <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
</div>
