<button type="button" mdbBtn color="primary" class="waves-light" (click)="modalContactForm.show()" mdbWavesEffect>
  <i class="fa fa-pencil"></i> Nous contacter</button>

<!-- Modal: Contact form -->
<div mdbModal #modalContactForm="mdb-modal" class="modal fade" id="modalContactForm" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <!-- Content -->
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header light-blue darken-3 white-text">
        <h4 class="title">
          <i class="fa fa-pencil"></i> Nous contacter</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="modalContactForm.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!-- Body -->
      <div class="modal-body mb-0">

        <div class="md-form form-sm">
            <ul>
              <li>Par téléphone:
                <ul>
                  <li class="list-unstyled"><i class="fa fa-phone"></i> <strong> 03 84 29 11 41</strong></li>
                  <li class="list-unstyled"><i class="fa fa-mobile"></i> <strong> 06 19 97 95 84</strong></li>
                </ul>
              <li>Par mail: <a href="mailto:christianstaine@sfr.fr">christianstaine@sfr.fr</a></li>
              <li>Directement sur le site: </li>
            </ul>
          </div>

        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <!-- Name -->
          <div class="md-form form-sm">
            <i class="fa fa-user prefix"></i>
            <input mdbInputDirective type="text" id="contactFormName" formControlName="contactFormName" class="form-control">
            <label for="contactFormName">nom complet</label>
          </div>
          <!-- /.Name -->

          <!-- Email -->
          <div class="md-form form-sm">
            <i class="fa fa-envelope prefix"></i>
            <input mdbInputDirective type="email" id="contactFormEmail" formControlName="contactFormEmail" class="form-control">
            <label for="contactFormEmail">email</label>
          </div>
          <!-- /.Email -->

          <div class="row">
            <!-- Phone -->
            <div class="col-md-6">
              <div class="md-form form-sm">
                <i class="fa fa-phone prefix"></i>
                <input mdbInputDirective type="text" id="contactFormPhone" formControlName="contactFormPhone" class="form-control">
                <label for="contactFormPhone">téléphone</label>
              </div>
            </div>
            <!-- /.Phone -->

            <!-- Mobile -->
            <div class="col-md-6">
              <div class="md-form form-sm">
                <i class="fa fa-mobile prefix"></i>
                <input mdbInputDirective type="text" id="contactFormMobile" formControlName="contactFormMobile" class="form-control">
                <label for="contactFormMobile">portable</label>
              </div>
            </div>
            <!-- /.Mobile -->
          </div>

          <!-- Text -->
          <div class="md-form form-sm">
            <i class="fa fa-pencil prefix"></i>
            <textarea mdbInputDirective type="text" id="contactFormText" formControlName="contactFormText" class="md-textarea mb-0"></textarea>
            <label for="contactFormText">message</label>
          </div>
          <!-- /.Text -->

          <div class="text-center mt-1-half">
            <button mdbBtn *ngIf="!request.sent" color="info" class="mb-2 waves-light" mdbWavesEffect>Send
              <i class="fa fa-send ml-1"></i>
            </button>
          </div>
          <mat-spinner class="float-right" *ngIf="request.sent" [diameter]=40></mat-spinner>
        </form>

      </div>
    </div>
    <!-- /.Content -->
  </div>
</div>
<!-- Modal: Contact form -->
