<header class="h-100">
  <!-- Navbar-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark scrolling-navbar fixed-top intro-fixed-nav">
    <!-- todo Navbar should be transparent when on top (see: https://mdbootstrap.com/angular/layout/navigation/) -->

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">Ski VT</a></mdb-navbar-brand>

    <!-- Links -->
    <links>

      <ul class="navbar-nav mr-auto">

        <li class="nav-item" [ngClass]="{active: active === 'presentation'}" (click)="navClick('presentation')">
          <a class="nav-link waves-light" href="#presentation" mdbWavesEffect>
            Présentation<span *ngIf="{active: active === 'presentation'}" class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item" [ngClass]="{active: active === 'booking'}" (click)="navClick('booking')">
          <a class="nav-link waves-light" href="#booking" mdbWavesEffect>
            Disponibilités<span *ngIf="{active: active === 'presentation'}" class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item" [ngClass]="{active: active === 'location'}" (click)="navClick('location')">
          <a class="nav-link waves-light" href="#location" mdbWavesEffect>
            Localisation<span *ngIf="{active: active === 'presentation'}" class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item" [ngClass]="{active: active === 'webcam'}" (click)="navClick('webcam')">
          <a class="nav-link waves-light" href="#webcam" mdbWavesEffect>
            Webcam<span *ngIf="{active: active === 'presentation'}" class="sr-only">(current)</span></a>
        </li>

      </ul>

    </links>
    <!-- /.Links -->

  </mdb-navbar>
  <!-- /.Navbar-->
</header>
