<!-- Navbar Header -->
<app-header-navbar></app-header-navbar>
<!-- /.Navbar Header -->

<!-- Carousel -->
<app-header-carrousel></app-header-carrousel>
<!-- /.Carousel -->

<main>
  <div class="container">
    <!-- Presentation -->
    <app-presentation></app-presentation>
    <!-- /.Presentation -->

    <app-description></app-description>

    <!-- Booking content-->
    <app-booking-content></app-booking-content>
    <!-- /.Booking content-->

    <!-- Location map-->
    <app-localization-map></app-localization-map>
    <!-- /.Location map-->

    <!-- Webcam -->
    <app-webcam></app-webcam>
    <!-- /.Webcam !-->

  </div>
</main>

<footer class="page-footer blue center-on-small-only">
  <!--Footer Links-->
  <div class="container">

  </div>
  <!--/.Footer Links-->

  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      Contact: <a href="mailto:staine.florian@gmail.com?subject=SkitVT">Florian Staine</a>
    </div>
  </div>
</footer>
