<div id="booking">
  <h1><i class="fa fa-calendar" aria-hidden="true"></i> Disponibilités</h1>

  <div class="row">
    <!-- Calendar -->
    <div class="col-lg-6 col-sm-12" *ngIf="calendarReady">
      <ngb-datepicker #dp [displayMonths]="2" [dayTemplate]="t"></ngb-datepicker>
      <ng-template #t let-date="date" let-focused="focused">
        <span class="custom-day" [class.taken]="isDateTaken(date)" [class.taken-start]="isDateTakenStart(date)"
          [class.taken-stop]="isDateTakenStop(date)">
          <!-- TODO: Call isDateTaken only once -->
          <span *ngIf="isOpenDate(date)" title="Ouverture de la station"><i class="fa fa-snowflake-o"></i></span>
          <span *ngIf="isCloseDate(date)" title="Fermeture de la station"><i class="fa fa-leaf"></i></span>
          <span *ngIf="!isOpenDate(date) && !isCloseDate(date)" [title]="isDateTaken(date) ? 'Occupé' : 'Libre'">{{
            date.day }}</span>
        </span>
      </ng-template>
      <!-- <app-contact></app-contact> -->
    </div>
    <!-- /.Calendar -->

    <!-- Legend -->
    <div class="col-lg-6 col-md-12 col-sm-12">
      <h2><i class="fa fa-paperclip" aria-hidden="true"></i> Légende</h2>
      <h4 #booked_date_legend *ngIf="!failedFetchBookedDates"><svg style="width:22px;height:22px;">
          <rect rx="4" ry="4" width="22" height="22" style="fill:red;" /></svg>
          <span> Dates occupées</span>
        </h4>
      <h4 *ngIf="isOpeningDateValid()"><i class="fa fa-snowflake-o" aria-hidden="true"></i> Ouverture de la station le: {{ openingDate |  date: 'dd/MM/yyyy'}}</h4>
      <h4 *ngIf="isCloseDateValid()"><i class="fa fa-leaf" aria-hidden="true"></i> Fermeture de la station le: {{ closeDate | date: 'dd/MM/yyyy'}}</h4>
    </div>
    <!-- /.Legend-->

  </div>
</div>
