.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.custom-day.taken {
  background-color: rgb(255, 0, 0);
}

.custom-day.taken-start {
  background: linear-gradient(135deg, #00000000 50%, #ff0000 50%);
}

.custom-day.taken-stop {
  background: linear-gradient(135deg, #ff0000 50%, #00000000 50%);
}

.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
