<div id="location">
  <h1><i class="fa fa-map-marker" aria-hidden="true"></i> Localisation</h1>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div id="map" style="height: 400px;z-index: 10"></div>
    </div>
    <div class="col-md-6 col-sm-12">
      <h2><i class="fa fa-home" aria-hidden="true"></i> Résidence la vanoise</h2>
      <h4><span (click)="stationView()" style="cursor: pointer"><i class="fa fa-bullseye" aria-hidden="true"></i> Situé au coeur de la station</span></h4>
      <h4><span (click)="slopesView()" style="cursor: pointer"><i class="fa fa-exchange" aria-hidden="true"></i> Accès aux pistes skis aux pieds</span></h4>
      <h4><span (click)="parkingView()" style="cursor: pointer"><i class="fa fa-car" aria-hidden="true"></i> Accès direct au parking P1</span></h4>
    </div>
  </div>
</div>
