<div id="description">
    <h1><i class="fa fa-info-circle" aria-hidden="true"></i> Description</h1>
    <h3>Appartement entièrement rénové de 3 pièces (25m²), classé 3 Flocons Argent, équipé pour 4 / 5 personnes</h3>
    <p>Cet appartement orienté sud, est situé au centre de la station, face au Centre Commercial Caron, départ skis aux pieds</p>

    <h4>Il comprend:</h4>
    <ul>
        <li>Deux chambres indépendantes fermées : une avec lit de 140, TV et chaine Hifi ; l'autre avec 2 lits superposés de 90 (la literie est neuve et de qualité)</li>
        <li>Séjour avec canapé-lit, TV, chaine Hifi et volets électriques</li>
        <li>Cuisine équipée avec grand réfrigérateur, lave-vaisselle, plaques à induction, four micro-ondes, appareil à raclette/pierrade, cafetière et Senseo, bouilloire, grille-pain</li>
        <li>WC séparé avec sèche chaussures / gants</li>
        <li>Salle de bain avec douche, radiateur sèche-serviette, meuble avec vasque</li>
        <li>Casier à skis au RdC de la résidence</li>
    </ul>
    <p>Informations importantes sur la location:</p>
    <ul>
        <li>Appartement non-fumeur</li>
        <li>Les annimaux ne sont pas acceptés</li>
    </ul>

    <h3>Nous contacter:</h3>
    <h4><i class="fa fa-mobile-phone"></i> 06 35 92 68 23</h4>
</div>
<div>
    <h1><i class="fa fa-eur" aria-hidden="true"></i> Tarifs</h1>
    <i>Tarif de 450 à 800 € la semaine selon les périodes pour la saison 2024-2025</i>
    <ul>
        <li>800 € du 21/12/24 au 04/01/25</li>
        <li>600 € du 04/01/25 au 08/02/25</li>
        <li>800 € du 08/02/25 au 10/03/25</li>
        <li>650 € du 10/03/25 au 05/05/25</li>
        <li>450 € pour les autres périodes</li>
    </ul>
    Caution: 300 €
</div>
