@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-size: 18px;
}

h1 {
	padding-top: 50px;
	padding-bottom: 10px;
}

h2 {
	padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid black
}

h4 {
  padding-top: 10px;
}

// TODO: Should be in 'header-navbar.component.scss'

/* Navbar type */
.navbar {
  background-color: transparent;
}

.top-nav-collapse {
	background-color: #4285f4;
}

@media only screen and (max-width: 768px) {
  .navbar {
      background-color: #4285f4;
  }
}
/* /Navbar style */

.ngx-gallery { display: inline-block; margin-bottom: 20px; }
