<ngb-carousel>
  <ng-template ngbSlide>
    <img class="d-block w-100" src="assets/img/carousel/10.JPG">
    <div class="mask"></div>
  </ng-template>

  <ng-template ngbSlide>
    <img class="d-block w-100" src="assets/img/carousel/20.JPG">
    <div class="mask"></div>
  </ng-template>

  <ng-template ngbSlide>
    <img class="d-block w-100" src="assets/img/carousel/30.JPG">
    <div class="mask"></div>
  </ng-template>
</ngb-carousel>
