<h1><i class="fa fa-video-camera" aria-hidden="true"></i> Webcam en direct</h1>
<iframe id="webcam" src="https://www.skaping.com/valthorens/lamaison" style="width:100%; height: 600px;" frameborder="0"></iframe>
